<div class="gap"></div>
<div class="container">
    <h2 class="booking-title">À propos</h2>
</div>

<div class="container">
    <div class="row">
        <p class="text-lg">
            Créée en 2016 et basée à Tunis, JibliHaja est une plateforme collaborative qui met en relation des voyageurs qui ont de l’espace dans leurs valises, avec d’autres qui cherchent à expédier un courrier ou un colis, ou à acheter un produit à l’étranger.<br/>
            Avec ce système, tout le monde est gagnant : le demandeur paye moins cher son envoi et connait sa date d’arrivée, et le voyageur rend service tout en rentabilisant ses frais de voyage.
        </p>

        <div class="gap"></div>

        <h3>Les fondateurs :</h3>
        <ul>
            <li>
                <h5>Berguiga Sirine</h5>
            </li>
            <li>
                <h5>Ben Ghorbel Chiheb</h5>
            </li>
            <li>
                <h5>Chebil Hassine</h5>
            </li>
            <li>
                <h5>Karray Mehdi</h5>
            </li>
        </ul>
    </div>
</div>

<div class="gap"></div>



<script src="js/custom.js"></script>