<div class="gap"></div>
<div class="container">
    <h2 class="booking-title">Comment ça marche</h2>
</div>


<div class="container">
    <div class="row">
        <p class="text-lg">Bienvenue sur JibliHaja, la plateforme qui vous permet d’expédier et recevoir vos colis ou courriers de façon simple, rapide et efficace.<br/>
            Pour trouver des voyageurs ou des demandeurs, rien de plus simple : Il vous suffit de rechercher des annonces de voyageurs et demandeurs  directement sur la page d’accueil.<br/>
            Vous n’êtes pas obligés de vous inscrire pour faire une recherche, cependant, vous ne pouvez publier une annonce ou contacter un voyageur ou un demandeur qu’après avoir créé un compte.</p>
        <h3>Se connecter :</h3>
        <p class="text-lg">Pour vous connecter, il vous suffit :<br/>
            - D’accéder à l’espace « Se connecter » situé dans le menu principal de la page d’accueil.<br/>
            - Vous pouvez vous connecter, soit en utilisant le bouton Facebook, ou grâce à votre adresse mail.<br/>
        </p>

        <h3>Créer son compte :</h3>
        <p class="text-lg">Pour créer un compte sur JibliHaja, rien de plus simple :<br/>
            1 – Accédez à la rubrique « S’inscrire » située dans le menu principal de la page d’accueil.<br/>
            2 – Vous pouvez vous inscrire ::<br/>
                - Soit grâce à votre profil Facebook : Les informations sont pré-remplies pour vous faciliter la tâche et l’inscription ne prend que 3 secondes.:<br/>
                - Soit grâce à votre adresse mail, et vous n’avez qu’à remplir les différents champs proposés.:<br/>
            Un email de bienvenue vous informera de la création de votre compte et vous permettra de l’activer via un lien de confirmation.:<br/>
        </p>

        <h3>Vous êtes un voyageur :</h3>
        <p class="text-lg">
            En tant que voyageur vous pouvez :<br/>
                - Publier votre voyage.<br/>
                - Rechercher une annonce.<br/>
                - Répondre à une demande.<br/>
                - Ecrire un commentaire et noter un voyageur ou un demandeur.<br/>
        </p>

        <h3>Vous êtes un demandeur :</h3>
        <p class="text-lg">
            En tant que demandeur vous pouvez :<br/>
            - Rechercher un voyageur.<br/>
            - publier une annonce.<br/>
            - Finaliser la transaction.<br/>
            - Evaluer le service du voyageur.<br/>
        </p>

    </div>
</div>
<div class="gap"></div>





<script src="js/custom.js"></script>